#bootstrap-overrides .navbar-brand{
    font-family: 'Sedgwick Ave', cursive;
    font-size: 3rem;
    color: #FFDC3C;
}

.col-2, .col{
    padding-top: 40px;
    padding-right: 15px;
    padding-left: 15px; 
}

.list-group-item.active{
    color: black;
    background-color: #FFDC3C;
    border-color: #FFDC3C;
}

.list-group-item.action{
    color: black;
}

.list-group-item:hover{
    color: black;
}

a{
    font-family: 'Sedgwick Ave', cursive;
    color: #FFC81E;
}

#bootstrap-overrides{
    font-family: 'Jua', sans-serif;
    text-align: center;
}

.alert-info{    
    font-family: 'Sedgwick Ave', cursive;
    color: #212529;
    background-color: #ffeb5a;
    border-color: #ffdc3c;
}

.btn-primary{
    color: #646464;
    background-color: #ffeb5a;
    border-color: #ffdc3c;
}

.btn-primary:hover{
    background-color: #646464;
    color: #ffeb5a;
}